body,ul,li{
	margin:0;
	padding:0;
}
.menu{
	 float:left;
	 width:80vw;
}

.level1{
	list-style: none;
	width:100%;
    float: left;
    overflow: hidden;
 }

.level1 li {
    float: left;
    display: block;
    padding: 10px;
    border: 1px solid white;
    min-width: 200px;
    background: lightblue;
}
.hasChild{
	margin-top:10px;
	display: none;
	position: relative;
}

.hasChild > li{
	float: none;

}
